<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Hotel Service</title>
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <a asp-area="" asp-controller="Home" asp-action="Index" class="logo">Hotel Service</a>
        <nav>
            <ul class="topmenu">
                <li>
                    <a href="" class="submenu-link">Rooms</a>
                    <ul class="submenu">
                        <li><a asp-area="" asp-controller="Rooms" asp-action="ShowRoomsPage">List of rooms</a></li>
                        <li><a asp-area="" asp-controller="Rooms" asp-action="AddPage">Add room</a></li>
                    </ul>
                </li>
                <li>
                    <a href="" class="submenu-link">Clients</a>
                    <ul class="submenu">
                        <li><a asp-area="" asp-controller="Rooms" asp-action="SearchFreeRoomsForm">Make order</a></li>
                        <li><a asp-area="" asp-controller="Clients" asp-action="ShowClientOrderPage">Look orders</a></li>
                    </ul>
                </li>
            </ul>
        </nav>
    </header>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>